<% provide(:title, @user.name) %>
<p id="notice"><%= notice %></p>
<div class="row">
  <aside class="span4">
    <section>
      <h1><%= @user.name %></h1>
      <%= image_tag @user.avatar.url(:small) %>
      <b>Email:</b> <%= @user.email %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'follow_form_ajax' if signed_in? %>
    <%if @user.reviews.any?%>
      <h3>Reviews (<%=@user.reviews.count%>)</h3>
      <ol class="reviews">
        <%=render partial: 'reviews/user_review',
                  collection: @reviews, as: :review%>
      </ol>
      <%=will_paginate @reviews%>
    <%end%>
  </div>
</div>

