<% provide(:title, @user.name) %>
<p id="notice"><%= notice %></p>
<div class="row">
  <aside class="span4">
    <h1><%= @user.name %></h1>
    <b>Email:</b> <%= @user.email %>
  </aside>
  <div class="span8">
    <%if @user.reviews.any?%>
      <h3>Reviews (<%=@user.reviews.count%>)</h3>
      <ol class="reviews">
        <%=render partial: 'reviews/user_review',
                  collection: @reviews, as: :review%>
      </ol>
      <%=will_paginate @reviews%>
    <%end%>
  </div>
</div>

