<div id="home_list">
  <h1>Listing homes</h1>

  <table>

    <% @homes.each do |home| %>
        <tr class="<%=cycle('list_line_odd','list_line_even')%>">
          <td><%= home.street %></td>
          <td><%= home.unit %></td>
          <td><%= home.city %></td>
          <td><%= home.state %></td>
          <td><%= home.zip %></td>

          <td class="list_actions">
            <%= link_to 'Show', home %><br/>
            <%= link_to 'Edit', edit_home_path(home) %><br/>
            <%= link_to 'Destroy', home, confirm: 'Are you sure?', method: :delete %>
          </td>
        </tr>
    <% end %>
  </table>
</div>
<br/>

<%= link_to 'New Home', new_home_path %>
