<% if notice %>
  <p id="notice" ><%= notice %></p>
<% end %>

<div id="product_list" xmlns="http://www.w3.org/1999/html">
  <h1>Gear List</h1>
  <table>
    <% @gears.each do |gear| %>
      <tr class="<%=cycle('list_line_odd', 'list_line_even') %>">

        <td><%= image_tag(gear.image_url, class: 'list_image') %></td>

        <td class="list_description">
          <dl>
            <dt><%= gear.title %></dt>
            <dd><%= gear.category %></dd>
          </dl>

        </td>
        <td class="list_actions">
            <%= link_to 'Show', gear %><br/>
            <%= link_to 'Edit', edit_gear_path(gear) %><br/>
            <%= link_to 'Destroy', gear, confirm: 'Are you sure?', method: :delete %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<br />

<%= link_to 'New Gear', new_gear_path %>
