<% provide(:title, @product.name) %>
<p id="notice"><%= notice %></p>

<div class="row">
  <aside class="span4">
    <h1><%= @product.name %></h1>
  </aside>
  <div class="span8">
    <%if @product.reviews.any?%>
        <h3>Reviews (<%=@product.reviews.count%>)</h3>
        <ol class="reviews">
          <%=render partial: "reviews/product_review",
                    collection: @reviews, as: :review%>
        </ol>
        <%=will_paginate @reviews%>
    <%end%>
  </div>
</div>

<%= link_to 'Edit', edit_product_path(@product) %>