<% provide(:title, @product.name) %>
<p id="notice"><%= notice %></p>

<div class="row">
  <aside class="span4">
    <section>
        <h1><%= @product.name %></h1>
    </section>
  </aside>
  <div class="span8">
    <h3>Reviews (<%=@product.reviews.count%>)</h3>
      <%if @review && @review.new_record? %>
          <%=render 'shared/review_form'%>
      <%end%>
    <%if @product.reviews.any?%>
        <ol class="reviews">
          <%=render partial: "reviews/product_review",
                    collection: @reviews,
                    as: :review%>
        </ol>
        <%=will_paginate @reviews%>
    <%end%>
  </div>
</div>