<!DOCTYPE html>
<html>
<head>
  <title>Project Tiny</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <!--<= javascript_include_tag :defaults >-->
  <%= csrf_meta_tags %>
</head>
<body id="store">
  <div id="banner">
    <%= image_tag("rails.png") %>
    <%= @page_title || "Project Tiny" %>
  </div>
  <div id="columns">
    <div id="side">
      <a href="#"> Home </a><br/>
      <a href="#"> Link1 </a><br/>
      <a href="#"> Link2 </a><br/>
      <a href="#"> Link3 </a><br/>
    </div>
  </div>
  <div id="main">
    <%= yield %>
  </div>
</body>
</html>

